.cart {
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: var(--contrast-color);
    padding: 20vh 1em 1em 1em;
    box-shadow: 0px 10px 10px #00000050;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
}

.cart::-webkit-scrollbar {
    display: none;
}

.items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.text-container h2 {
    text-align: justify;
    font-size: 1em;
    color: var(--text-color);
}

.text-container p {
    color: var(--main-color);
    font-weight: 800;
}

.total-container {
    justify-self: flex-end;
}

.remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;    
}

.remove-btn svg {
    color: var(--main-color);
    font-size: 1.5em;
    transition: .2s;
}
.remove-btn:hover > svg {
    color: var(--main-color-hover);
}

.total-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.total-container p {
    color: var(--text-color);
    font-weight: 800;
}

.buy-btn {
    width: 100%;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 1em;
    color: var(--contrast-color);
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
    transition: .2s;
}

.buy-btn:hover {
    background-color: var(--main-color-hover);
}

.empty-cart {
    text-align: center;
    color: var(--main-color);
    font-weight: 800;
}

@media screen and (max-width: 1200px) {
    .cart {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .cart {
        width: 100%;
    }
}