.container {
    min-height: 100vh;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}